/* https://www.color-hex.com/color-palette/1294 */

body{
  background-color: #b3cde0;
  font-family: 'Courier New', monospace;
  margin: 75px;
}

h1{
  text-align: center;
  color: #011f4b;
}

.inputDiv{
  margin: auto;
  align-items: center;
  width: 250px;
}

button{
  color: white;
  background-color: #005b96;
  border: 4px solid #011f4b;
  border-radius: 50px;
  font-family: 'Courier New', monospace;
  width: 100px;
  float: right;
}

input{
  border: 4px solid #011f4b;
  border-radius: 50px;
  font-family: 'Courier New', monospace;
  text-align: center;
  width: 120px;
}

img{
  border: 6px solid #011f4b;
  border-radius: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.infoHeader{
  margin-top: 100px;
}

p{
  font-size: 20px;
}
